@using JobBoards.WebApplication.ViewModels.Jobs
@model CreateViewModel

@{
    ViewData["Title"] = "Create Job Post";
}

<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-container .card {
        border: none;
    }
</style>

<div class="centered-container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-primary">Create Job Post</h1>
            <form asp-controller="Jobs" asp-action="Create" method="POST">
                <div class="form-group mt-2">
                    <label asp-for="Form.Title">Job Title</label>
                    <input asp-for="Form.Title" type="text" class="form-control mt-2" placeholder="Enter job title">
                    <span asp-validation-for="Form.Title" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label for="jobType">Job Type</label>
                    <select class="form-control mt-2" asp-for="Form.JobTypeId">
                        <option selected>Select a Job Type</option>
                        @foreach (var jobType in Model.JobTypes)
                        {
                            <option value="@jobType.Id">@jobType.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Form.JobTypeId" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label for="salary">Salary</label>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">₱</span>
                        </div>
                        <input type="number" class="form-control" asp-for="Form.MinSalary" placeholder="Minimum Salary"
                            min="0">
                        <div class="input-group-prepend input-group-append">
                            <span class="input-group-text">-</span>
                        </div>
                        <input type="number" class="form-control" asp-for="Form.MaxSalary" placeholder="Maximum Salary"
                            min="0">
                        <div class="input-group-append">
                            <span class="input-group-text">₱</span>
                        </div>
                    </div>
                    <span asp-validation-for="Form.MinSalary" class="text-danger"></span>
                    <span asp-validation-for="Form.MaxSalary" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label for="jobCategory">Job Category</label>
                    <select class="form-select mt-2" asp-for="Form.JobCategoryId">
                        <option selected>Select a Job Category</option>
                        @foreach (var jobCategory in Model.JobCategories)
                        {
                            <option value="@jobCategory.Id">@jobCategory.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Form.JobCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label for="jobLocation">Job Location</label>
                    <select class="form-select mt-2" asp-for="Form.JobLocationId">
                        <option selected>Select a Job Location</option>
                        @foreach (var jobLocation in Model.JobLocations)
                        {
                            <option value="@jobLocation.Id">@jobLocation.City, @jobLocation.Country</option>
                        }
                    </select>
                    <span asp-validation-for="Form.JobLocationId" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <textarea class="form-control" id="jobDescription" asp-for="Form.Description" rows="5"></textarea>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary mt-2 w-25">Create</button>
                    <a class="btn btn-secondary mt-2" asp-controller="Jobs" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: '#jobDescription',
            plugins: [
                'advlist', 'lists', 'link', 'image', 'emoticons', 'help'
            ],
            menu: {
                title: { title: 'Job Description', items: 'code visualaid | searchreplace | emoticons' }
            },
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image' +
                'forecolor emoticons | help',
            menubar: 'title',
        });
    </script>
}
