@using JobBoards.WebApplication.ViewModels.Jobs;
@model DetailsViewModel;

@{
    ViewData["Title"] = "Job Details";
}

<style>
    .status-submitted {
        color: #54595E;
    }

    .status-interview {
        color: #17A2B8;
    }

    .status-shortlisted {
        color: #17A2B8;
    }

    .status-notsuitable {
        color: #DC3545;
    }

    .status-withdrawn {
        color: #DC3545;
    }

    /* Style for confirmation buttons */
    .confirm-popup-content p1 {
        color: red;
    }

    .confirm-popup {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .confirm-popup-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
    }

    .confirm-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .confirm-buttons button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .confirm-buttons .confirm {
        background-color: #dc3545;
        color: #fff;
    }

    .confirm-buttons .cancel {
        background-color: #54595E;
        color: #fff;
    }
</style>


<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card border-0">
                <div class="card-body">
                    <h2 class="card-title text-primary" style="font-size: 48px;">@Model.JobPost.Title</h2>
                    <h4 class="card-subtitle text-muted mb-4">@Model.JobPost.JobType.Name, PHP @Model.JobPost.MinSalary
                        - PHP @Model.JobPost.MaxSalary</h4>
                    <div class="card-text">
                        @Html.Raw(Model.JobPost.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Job Details</h6>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Job Type:</h6>
                        <div class="col-8">
                            @Model.JobPost.JobType.Name
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Salary:</h6>
                        <div class="col-8">
                            PHP @Model.JobPost.MinSalary - PHP @Model.JobPost.MaxSalary
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Location:</h6>
                        <div class="col-8">
                            @Model.JobPost.JobLocation.City, @Model.JobPost.JobLocation.Country
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Posted:</h6>
                        <div class="col-8">
                            @Model.JobPost.CreatedAt.ToString("MMMM dd, yyyy h:mm tt")
                        </div>
                    </div>

                    @if (Model.HasWriteAccess)
                    {
                        <div class="row mt-2">
                            <h6 class="col-4 d-inline">Status:</h6>
                            <div class="col-8">
                                @if (Model.JobPost.IsActive)
                                {
                                    <span class="text-success">Active</span>
                                }
                                else
                                {
                                    <span class="text-danger">Inactive</span>
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>

            @if (Model.HasWriteAccess)
            {
                <div class="card mt-2">
                    <div class="card-body">
                        <h6 class="card-title">Applications</h6>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline"># of Job Applicants:</h6>
                            <div class="col-8">
                                @Model.JobPost.JobApplications.Count
                            </div>
                        </div>
                        <a asp-controller="Jobs" asp-action="ManageJobApplications" asp-route-id="@Model.JobPost.Id"
                            class="btn btn-secondary btn-block w-100 mt-3">Manage Applications</a>
                    </div>
                </div>
            }

            @if (Model.WithApplication)
            {
                <div class="card mt-2">
                    <div class="card-body">
                        <h6 class="card-title">My Application</h6>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Status:</h6>
                            <div class="col-8 status-@(
                                Model.JobApplication.Status.ToLower().Replace(" ", ""))">
                                @Model.JobApplication.Status
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Resume:</h6>
                            <div class="col-8 text-info">
                                @Model.JobApplication.JobSeeker.Resume.FileName
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Applied</h6>
                            <div class="col-8">
                                @Model.JobApplication.CreatedAt.ToString("MMMM dd, yyyy h:mm tt")
                            </div>
                        </div>

                        @if (@Model.JobApplication.Status.ToLower() != "withdrawn")
                        {
                            <a asp-controller="Jobseekers" asp-action="WithdrawApplication"
                        asp-route-applicationId="@Model.JobApplication.Id"
                        asp-route-jobseekerId="@Model.JobApplication.JobSeekerId"
                                class="btn btn-danger btn-block w-100 mt-3">
                                Withdraw
                            </a>
                        }
                    </div>
                </div>
            }

            <a asp-controller="Jobs" asp-action="Index" class="btn btn-secondary btn-block w-100 mt-2">Back to List</a>

            @if (!Model.HasWriteAccess && !Model.WithApplication)
            {
                <a asp-controller="Jobseekers" asp-action="ApplyNow" asp-route-postId="@Model.JobPost.Id"
                    class="btn btn-primary btn-block w-100 mt-2">
                    Apply Now
                </a>
            }

            @if (Model.HasWriteAccess)
            {
                <a asp-controller="Jobs" asp-action="ToggleJobPostIsActive" asp-route-jobPostId="@Model.JobPost.Id"
                    class="btn btn-secondary btn-block w-100 mt-1">
                    @(Model.JobPost.IsActive ? "Deactivate Job Post" : "Activate Job Post")
                </a>

                <a asp-controller="Jobs" asp-action="Update" asp-route-id="@Model.JobPost.Id"
                    class="btn btn-primary btn-block w-100 mt-1">Edit</a>
                <form id="delete-form" asp-controller="Jobs" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.JobPost.Id" />
                    <button type="button" onclick="showConfirm()"
                        class="btn btn-danger btn-block w-100 mt-1">Delete</button>
                </form>

                <!-- Confirmation popup -->
                <div id="confirm-popup" class="confirm-popup">
                    <div class="confirm-popup-content">
                        <p><strong>Are you sure you want to delete this job post?</strong></p>
                        <p1>This action cannot be undone. Please confirm to proceed</p1>
                        <div class="confirm-buttons">
                            <button class="confirm" onclick="deletePost()">I understand, please delete</button>
                            <button class="cancel" onclick="hideConfirm()">Cancel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        function showConfirm() {
            document.getElementById("confirm-popup").style.display = "block";
        }

        function hideConfirm() {
            document.getElementById("confirm-popup").style.display = "none";
        }

        function deletePost() {
            document.getElementById("delete-form").submit();
        }
    </script>
}
