@using JobBoards.WebApplication.ViewModels.Jobs;
@model DetailsViewModel;

@{
    ViewData["Title"] = "Job Details";
}

<style>
    .status-submitted {
        color: #54595E;
    }

    .status-interview {
        color: #17A2B8;
    }

    .status-shortlisted {
        color: #17A2B8;
    }

    .status-notsuitable {
        color: #DC3545;
    }

    .status-withdrawn {
        color: #DC3545;
    }
</style>


<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card border-0">
                <div class="card-body">
                    <h2 class="card-title text-primary" style="font-size: 48px;">@Model.JobPost.Title</h2>
                    <h4 class="card-subtitle text-muted mb-4">@Model.JobPost.JobType.Name, PHP @Model.JobPost.MinSalary
                        - PHP @Model.JobPost.MaxSalary</h4>
                    <div class="card-text">
                        @Html.Raw(Model.JobPost.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Job Details</h6>
                    <div class="row mt-3">
                        <h6 class="col-4 d-inline">Job Type:</h6>
                        <div class="col-8">
                            @Model.JobPost.JobType.Name
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Salary:</h6>
                        <div class="col-8">
                            PHP @Model.JobPost.MinSalary - PHP @Model.JobPost.MaxSalary
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Location:</h6>
                        <div class="col-8">
                            @Model.JobPost.JobLocation.City, @Model.JobPost.JobLocation.Country
                        </div>
                    </div>
                    <div class="row mt-2">
                        <h6 class="col-4 d-inline">Posted:</h6>
                        <div class="col-8">
                            @Model.JobPost.CreatedAt.ToString("MMMM dd, yyyy h:mm tt")
                        </div>
                    </div>

                    @if (Model.HasWriteAccess)
                    {
                        <div class="row mt-2">
                            <h6 class="col-4 d-inline">Status:</h6>
                            <div class="col-8">
                                @if (Model.JobPost.IsActive)
                                {
                                    <span class="text-success">Active</span>
                                }
                                else
                                {
                                    <span class="text-danger">Inactive</span>
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>

            @if (Model.HasWriteAccess)
            {
                <div class="card mt-2">
                    <div class="card-body">
                        <h6 class="card-title">Applications</h6>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline"># of Job Applicants:</h6>
                            <div class="col-8">
                                @Model.JobPost.JobApplications.Count
                            </div>
                        </div>
                        <a asp-controller="Jobs" asp-action="ManageJobApplications" asp-route-id="@Model.JobPost.Id"
                            class="btn btn-secondary btn-block w-100 mt-3">Manage Applications</a>
                    </div>
                </div>
            }

            @if (Model.WithApplication)
            {
                <div class="card mt-2">
                    <div class="card-body">
                        <h6 class="card-title">My Application</h6>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Status:</h6>
                            <div class="col-8 status-@(
                                Model.JobApplication.Status.ToLower().Replace(" ", ""))">
                                @Model.JobApplication.Status
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Resume:</h6>
                            <div class="col-8 text-info">
                                @Model.JobApplication.JobSeeker.Resume.FileName
                            </div>
                        </div>
                        <div class="row mt-3">
                            <h6 class="col-4 d-inline">Applied</h6>
                            <div class="col-8">
                                @Model.JobApplication.CreatedAt.ToString("MMMM dd, yyyy h:mm tt")
                            </div>
                        </div>

                        @if (@Model.JobApplication.Status.ToLower() != "withdrawn")
                        {
                            <button onclick="openWithdrawApplicationModal('@Model.JobApplication.Id')"
                                class="btn btn-danger btn-block w-100 mt-3">Withdraw</button>
                        }
                    </div>
                </div>
            }

            <a asp-controller="Jobs" asp-action="Index" class="btn btn-secondary btn-block w-100 mt-2">Back to List</a>

            @if (!Model.HasWriteAccess && !Model.WithApplication)
            {
                <button onclick="openApplyNowModal('@Model.JobPost.Id.ToString()')"
                    class="btn btn-primary btn-block w-100 mt-2">Apply Now</button>
            }

            @if (Model.HasWriteAccess)
            {
                <a asp-controller="Jobs" asp-action="ToggleJobPostIsActive" asp-route-jobPostId="@Model.JobPost.Id"
                    class="btn btn-secondary btn-block w-100 mt-1">
                    @(Model.JobPost.IsActive ? "Deactivate Job Post" : "Activate Job Post")
                </a>

                <a asp-controller="Jobs" asp-action="Update" asp-route-id="@Model.JobPost.Id"
                    class="btn btn-primary btn-block w-100 mt-1">Edit</a>

                <button onclick="openDeletePostModal('@Model.JobPost.Id.ToString()')"
                    class="btn btn-danger btn-block w-100 mt-1">Delete</button>
            }
        </div>
    </div>
    <div id="deletePostModalContainer"></div>
    <div id="withdrawModalContainer"></div>
    <div id="applyNowModalContainer"></div>
</div>

@section Modals {
    <script>
        function openDeletePostModal(jobPostId) {
            $.ajax({
                url: '@Url.Action("DisplayDeleteConfirmationModal", "Jobs", new { jobPostId = "__id__" })'.replace('__id__', jobPostId),
                type: 'GET',
                success: function (partialView) {
                    $('#deletePostModalContainer').html(partialView);
                    $('#confirmDeleteJobPostModal').modal('show');
                }
            });
        }

        function openWithdrawApplicationModal(applicationId) {
            $.ajax({
                url: '@Url.Action("DisplayWithdrawConfirmationModal", "Jobseekers", new { jobApplicationId = "__id__" })'.replace('__id__', applicationId),
                type: 'GET',
                success: function (partialView) {
                    $('#withdrawModalContainer').html(partialView);
                    $('#confirmWithdrawApplicationModal').modal('show');
                }
            });
        }

        function openApplyNowModal(jobPostId) {
            $.ajax({
                url: '@Url.Action("DisplayApplyNowModal", "Jobseekers", new { jobPostId = "__id__" })'.replace('__id__', jobPostId),
                type: 'GET',
                success: function (partialView) {
                    $('#applyNowModalContainer').html(partialView);
                    $('#confirmApplyModal').modal('show');
                },
                error: function(xhr, status, error) {
                    if (xhr.status === 401)
                    {
                        window.location.replace('/Account/Login');
                    }
                }
            });
        }
    </script>
}