@using JobBoards.WebApplication.ViewModels.Jobs
@model JobApplicationsViewModel

<div class="container">
    <div class="my-5">
        <h1 class="text-primary text-center" style="font-size: 48px;">@Model.JobPost.Title</h1>
        <p class="text-center text-black-50 fs-3" style="margin-top: -0.5rem;">@Model.JobPost.JobType.Name - PHP
            @Model.JobPost.MinSalary - PHP
            @Model.JobPost.MaxSalary - @Model.JobPost.JobLocation.City,
            @Model.JobPost.JobLocation.Country
        </p>
        <div class="w-100 text-center d-flex justify-content-center">
            <a asp-controller="Jobs" asp-action="Index" class="btn me-3 btn-outline-dark">
                Back to
                List
            </a>
            <a asp-controller="Jobs" asp-action="Details" asp-route-id="@Model.JobPost.Id"
                class="btn btn-outline-primary me-3" onclick="window.history.back()">
                View Job Details
            </a>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
        <h2 class="text-cyan-600 text-left align-top">
            Job Applicants
        </h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 mb-4">
                    <form class="d-flex">
                        <input type="text" class="form-control">
                        <button class="ms-2 btn btn-outline-primary w-25" type="button">Search</button>
                    </form>
                    <span class="text-black-50">Search for Applicant's Name</span>
                </div>
                <div class="col-12 col-md-8 d-flex flex-row justify-content-between align-items-center">
                    <span class="text-black-50" style="font-size: 12px;">Showing @Model.JobApplications.Count of
                        @Model.JobApplications.Count
                        Applicants</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">All</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Interview</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">Shorlist</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio4">Not Suitable</label>
                    </div>
                </div>
                @if (Model.JobApplications.Any())
                {
                    @foreach (var jobApplication in Model.JobApplications)
                    {
                        <div class="col-12 col-md-8 mb-4 mt-3">
                            <div
                                class="text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                                <div class="w-100 row">
                                    <h3 class="col-12">
                                        @jobApplication.JobSeeker.UserId
                                    </h3>
                                </div>
                                <div class="row">
                                    <span class="col-2" style="font-weight: 500;">Resume:</span>
                                    <a asp-controller="Jobseekers" asp-action="DownloadResume"
                                asp-route-userId="@jobApplication.JobSeeker.UserId" class="col-10 text-info"
                                        style="text-decoration: none;">
                                        @jobApplication.JobSeeker.Resume.FileName
                                    </a>
                                </div>
                                <div class="row mt-2">
                                    <span class="col-2" style="font-weight: 500;">Applied:</span>
                                    <div class="col-10">
                                        @jobApplication.CreatedAt
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <span class="col-2" style="font-weight: 500;">Status:</span>
                                    <div class="col-10">
                                        @jobApplication.Status
                                    </div>
                                </div>
                                <div class="d-flex mt-3 p-0">
                                    <a asp-controller="Jobs" asp-action="MakeInterview"
                                asp-route-jobApplicationId="@jobApplication.Id" class="btn p-0 m-0 me-4">
                                        INTERVIEW
                                    </a>
                                    <a asp-controller="Jobs" asp-action="MakeShortlisted"
                                asp-route-jobApplicationId="@jobApplication.Id" class="btn p-0 m-0 me-4">
                                        SHORTLIST
                                    </a>
                                    <a asp-controller="Jobs" asp-action="MakeNotSuitable"
                                asp-route-jobApplicationId="@jobApplication.Id" class="btn p-0 m-0 me-4">
                                        NOT SUITABLE
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 col-md-8 mb-4 mt-3">
                        <p>No job application found.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
