@using JobBoards.WebApplication.ViewModels.Jobs
@model JobApplicationsViewModel

@{
    var status = Context.Request.Query["status"].ToString();
    var search = Context.Request.Query["search"].ToString();
}

<style>
    .status-submitted {
        color: #54595E;
    }

    .status-interview {
        color: #17A2B8;
    }

    .status-shortlisted {
        color: #17A2B8;
    }

    .status-notsuitable {
        color: #DC3545;
    }

    .status-withdrawn {
        color: #DC3545;
    }
</style>

<div class="container">
    <div class="my-5">
        <h1 class="text-primary text-center" style="font-size: 48px;">@Model.JobPost.Title</h1>
        <p class="text-center text-black-50 fs-3" style="margin-top: -0.5rem;">@Model.JobPost.JobType.Name - PHP
            @Model.JobPost.MinSalary - PHP
            @Model.JobPost.MaxSalary - @Model.JobPost.JobLocation.City,
            @Model.JobPost.JobLocation.Country
        </p>
        <div class="w-100 text-center d-flex justify-content-center">
            <a asp-controller="Jobs" asp-action="BackToList" asp-route-returnUrl="@ViewData["ReturnUrl"]"
                class="btn me-3 btn-outline-dark">
                Back to List
            </a>

            <a asp-controller="Jobs" asp-action="Details" asp-route-id="@Model.JobPost.Id"
                class="btn btn-outline-primary me-3" onclick="window.history.back()">
                View Job Details
            </a>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
        <h2 class="text-cyan-600 text-left align-top">
            Job Applicants
        </h2>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <form asp-controller="Jobs" asp-action="FilterJobApplications" method="POST"
                    class="col-12 col-md-8 mb-4">
                    <input type="text" asp-for="Filters.PostId" readonly hidden>
                    <input type="text" asp-for="Filters.Status" readonly hidden>
                    <div class="d-flex">
                        <input asp-for="Filters.Search" type="text" class="form-control">
                        <button class="ms-2 btn btn-primary w-25" type="submit">Search</button>
                    </div>
                    <span class="text-black-50">Search for Applicant's Name</span>
                </form>

                <div class="col-12 col-md-8 row p-0 m-0 justify-content-between align-items-center">
                    <span class="text-black-50 col-12 col-md-4" style="font-size: 12px;">Showing
                        @Model.JobApplications.Count of
                        @Model.JobApplications.Count
                        Applicants</span>
                    <div class="btn-group col-12 col-md-8 mt-3 mt-md-0" role="group"
                        aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                            checked="@(string.IsNullOrEmpty(status))">
                        <a class="btn btn-outline-primary" asp-controller="Jobs" asp-action="ManageJobApplications"
                            asp-route-id="@Model.JobPost.Id" asp-route-search="@search"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">All</a>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                            checked="@(status == "submitted")">
                        <a class="btn btn-outline-primary" asp-controller="Jobs" asp-action="ManageJobApplications"
                            asp-route-id="@Model.JobPost.Id" asp-route-search="@search" asp-route-status="submitted"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">Submitted</a>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                            checked="@(status == "interview")">
                        <a class="btn btn-outline-primary" asp-controller="Jobs" asp-action="ManageJobApplications"
                            asp-route-id="@Model.JobPost.Id" asp-route-search="@search" asp-route-status="interview"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">Interview</a>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                            checked="@(status == "shortlisted")">
                        <a class="btn btn-outline-primary" asp-controller="Jobs" asp-action="ManageJobApplications"
                            asp-route-id="@Model.JobPost.Id" asp-route-search="@search" asp-route-status="shortlisted"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">Shortlist</a>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                            checked="@(status == "notsuitable")"><a class="btn btn-outline-primary"
                            asp-controller="Jobs" asp-action="ManageJobApplications" asp-route-id="@Model.JobPost.Id"
                            asp-route-search="@search" asp-route-status="notsuitable"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">Not Suitable</a>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                            checked="@(status == "withdrawn")"><a class="btn btn-outline-primary" asp-controller="Jobs"
                            asp-action="ManageJobApplications" asp-route-id="@Model.JobPost.Id"
                            asp-route-search="@search" asp-route-status="withdrawn"
                            asp-route-returnUrl="@ViewData["ReturnUrl"]">Withdrawn</a>
                    </div>
                </div>
                @if (Model.JobApplications.Any())
                {
                    @foreach (var jobApplication in Model.JobApplications)
                    {
                        <div class="col-12 col-md-8 mb-4 mt-3">
                            <div
                                class="text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                                <div class="w-100 row">
                                    <h3 class="col-12">
                                        @jobApplication.JobSeeker.User.FullName
                                    </h3>
                                </div>
                                <div class="row">
                                    <span class="col-2" style="font-weight: 500;">Resume:</span>
                                    <a asp-controller="Jobseekers" asp-action="DownloadResume"
                                asp-route-userId="@jobApplication.JobSeeker.UserId" class="col-10 text-info"
                                        style="text-decoration: none;">
                                        @jobApplication.JobSeeker.Resume.FileName
                                    </a>
                                </div>
                                <div class="row mt-2">
                                    <span class="col-2" style="font-weight: 500;">Applied:</span>
                                    <div class="col-10">
                                        @jobApplication.CreatedAt.ToString("MMMM dd, yyyy h:mm tt")
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <span class="col-2" style="font-weight: 500;">Status:</span>
                                    <div class="col-10 status-@(
                                jobApplication.Status.ToLower().Replace(" ", ""))">
                                        @jobApplication.Status
                                    </div>
                                </div>
                                @if (jobApplication.Status.ToLower() != "withdrawn" && jobApplication.JobPost.DeletedAt == null)
                                {
                                    <div class="d-flex mt-3 p-0">
                                        <button
                                            onclick="openChangeApplicationStatusModal('@jobApplication.Id.ToString()', 'Interview')"
                                            class="btn p-0 m-0 me-4">INTERVIEW</button>
                                        <button
                                            onclick="openChangeApplicationStatusModal('@jobApplication.Id.ToString()', 'Shortlisted')"
                                            class="btn p-0 m-0 me-4">SHORTLIST</button>

                                        <button
                                            onclick="openChangeApplicationStatusModal('@jobApplication.Id.ToString()', 'Not Suitable')"
                                            class="btn text-danger p-0 m-0 me-4">NOT SUITABLE</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12 col-md-8 mb-4 mt-3">
                        <p>No job application found.</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="updateStatusModalContainer"></div>
</div>

@section Modals {
    <script>
        function openChangeApplicationStatusModal(jobApplicationId, newStatus) {
            $.ajax({
                url: "@Html.Raw(Url.Action("DisplayChangeApplicationStatusModal", "Jobs", new { jobApplicationId = "__id__", status = "__newStatus__" }))".replace('__id__', jobApplicationId).replace('__newStatus__', newStatus),
                type: 'GET',
                success: function (partialView) {
                    $('#updateStatusModalContainer').html(partialView);
                    $('#confirmUpdateStatusModal').modal('show');
                }
            });
        }
    </script>
}