@using JobBoards.WebApplication.ViewModels.Jobseekers
@model JobApplicationsViewModel

<style>
    .status-submitted {
        color: #54595E;
    }

    .status-interview {
        color: #17A2B8;
    }

    .status-shortlisted {
        color: #17A2B8;
    }

    .status-notsuitable {
        color: #DC3545;
    }

    .status-withdrawn {
        color: #DC3545;
    }
</style>

<div
    class="d-flex flex-column align-items-center justify-content-center grow p-5 space-y-5 h-100 w-100 position-relative">
    <div class="h-25 w-10 position-relative"></div>
    <h2 class="text-cyan-600 text-left align-top">
        My Job Applications
    </h2>

    <div>Showing @Model.JobApplications.Count of @Model.JobApplications.Count application</div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            @if (Model.JobApplications.Any())
            {
                @foreach (var jobApplication in Model.JobApplications)
                {
                    <div class="col-12 col-md-8 mb-4">
                        <div
                            class="text-start rounded p-4 bg-white border border-gray-300 d-flex flex-column justify-content-between">
                            <div class="w-100 row align-items-center">
                                <h3 class="col-12 col-md-6">
                                    @jobApplication.JobPost.Title
                                </h3>
                                <span class="col-12 col-md-6 text-black-50 text-end" style="font-size: small;">
                                    @jobApplication.JobPost.JobType.Name, PHP @jobApplication.JobPost.MinSalary - PHP
                                    @jobApplication.JobPost.MaxSalary
                                </span>
                            </div>
                            <p>
                                @jobApplication.JobPost.JobLocation.City, @jobApplication.JobPost.JobLocation.Country
                            </p>
                            <div class="row">
                                <span class="col-2" style="font-weight: 500;">Status:</span>
                                <div class="col-10 status-@(
                                jobApplication.Status.ToLower().Replace(" ", ""))">
                                    @jobApplication.Status
                                </div>
                            </div>
                            <div>
                                <a class="btn btn-secondary mt-3" asp-controller="Jobs" asp-action="Details"
                            asp-route-id="@jobApplication.JobPost.Id" class="btn btn-secondary me-2">
                                    View Application
                                </a>
                                @if (@jobApplication.Status.ToLower() != "withdrawn")
                                {
                                    <button onclick="openWithdrawApplicationModal('@jobApplication.Id')"
                                        class="btn btn-danger mt-3">Withdraw</button>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 col-md-8 mb-4">
                    <p class="mt-2">No job application found.</p>
                </div>
            }

        </div>
    </div>
</div>

<div id="withdrawModalContainer"></div>

@section Modals {
    <script>
        function openWithdrawApplicationModal(applicationId) {
            $.ajax({
                url: '@Url.Action("DisplayWithdrawConfirmationModal", "Jobseekers", new { jobApplicationId = "__id__" })'.replace('__id__', applicationId),
                type: 'GET',
                success: function (partialView) {
                    $('#withdrawModalContainer').html(partialView);
                    $('#confirmWithdrawApplicationModal').modal('show');
                }
            });
        }
    </script>
}
